# Ignore inventories and variable files
inventory/
group_vars/
host_vars/

# Ignore secrets file
secrets.yml

# Ignore temporary files
*.tmp
*.swp
*.bak
*.log

# Ignore compiled files
*.pyc
__pycache__/

# Ignore Ansible retry files
*.retry

# Ignore Ansible facts cache
.fact_cache/
